/*
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir Bækholt)
** All you guys rock :)
*/

.evopedianav {
    font-size: 150%;
    color: #002bb8;
}

.evopedianav:visited {
    color: #002bb8;
}

iframe {
    border: 0px;
}

.geo {
    display:none;
}

#coordinates_3_ObenRechts {
    /*display:inline;*/
    display: none;
}
#coordinates {
    /*display:inline;*/
    display: none;
    background:transparent none repeat scroll 0 0;
    border:medium none;
    float:right;
    font-size:10px;
    line-height:11px;
    margin:0 18px 0 0;
    padding:0 0.1em 0 0;
    position:absolute;
    right:12px;
    text-align:right;
    text-indent:0;
    text-transform:none;
    top:0.2em;
    white-space:nowrap;
    z-index:1;
}

#column-content {
	width: 100%;
	float: right;
	margin: 0 0 .6em -12.2em;
	padding: 0;
}
#content {
	margin: 2.8em 0 0 12.2em;
	padding: 0 1em 1em 1em;
	position: relative;
	z-index: 2;
}
#column-one {
	padding-top: 160px;
}
#content {
	background: white;
	color: black;
	border: 1px solid #aaa;
	border-right: none;
	line-height: 1.5em;
}
/* the left column width is specified in class .portlet */

/* Font size:
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
	/*font: xx-small sans-serif;
	background: #f9f9f9 url(/headbg.jpg) 0 0 no-repeat;*/
	font: normal sans-serif;
	background: #ffffff;
	color: black;
	margin: 0;
	padding: 0;
        margin-left: 3px;
        margin-right: 3px;
}

/* scale back up to a sane default */
#globalWrapper {
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.visualClear {
	clear: both;
}

/* general styles */

table {
	font-size: 100%;
	color: black;
	/* we don't want the bottom borders of <h2>s to be visible through
	   floated tables */
	background-color: white;
}
fieldset table {
	/* but keep table layouts in forms clean... */
	background: none;
}
a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}
a:visited {
	color: #5a3696;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

img {
	border: none;
	vertical-align: middle;
}
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
h1 { font-size: 188%; }
.editsection { display: none; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
/*	list-style-image: url(/bullet.gif);*/
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}

fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}

textarea {
	width: 100%;
	padding: .1em;
}

input.historysubmit {
	padding: 0 .3em .3em .3em !important;
	font-size: 94%;
	cursor: pointer;
	height: 1.7em !important;
	margin-left: 1.6em;
}
select {
	vertical-align: top;
}
abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

/*
** the main content area
*/

#siteSub {
	display: none;
}
#jump-to-nav {
	display: none;
}

#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}

/* Some space under the headers in the content area */
#bodyContent h1, #bodyContent h2 {
	margin-bottom: .6em;
}
#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom: .3em;
}
.firstHeading {
	margin-bottom: .1em;
	/* These two rules hack around bug 2013 (fix for more limited bug 11325).
	   When bug 2013 is fixed properly, they should be removed. */
	line-height: 1.2em;
	padding-bottom: 0;
}

/* user notification thing */
.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}
#siteNotice {
	text-align: center;
	font-size: 95%;
	padding: 0 .9em;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
.success {
	color: green;
	font-size: larger;
}
/*.error {
	color: red;
	font-size: larger;
}*/
.errorbox, .successbox {
	font-size: larger;
	border: 2px solid;
	padding: .5em 1em;
	float: left;
	margin-bottom: 2em;
	color: #000;
}
.errorbox {
	border-color: red;
	background-color: #fff2f2;
}
.successbox {
	border-color: green;
	background-color: #dfd;
}
.errorbox h2, .successbox h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline;
	margin: 0 .5em 0 0;
	border: none;
}

.catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}
/* currently unused, intended to be used by a metadata box
in the bottom-right corner of the content area */
.documentDescription {
	/* The summary text describing the document */
	font-weight: bold;
	display: block;
	margin: 1em 0;
	line-height: 1.5em;
}
.documentByLine {
	text-align: right;
	font-size: 90%;
	clear: both;
	font-weight: normal;
	color: #76797c;
}

/* emulate center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}

/*
** content styles
*/

#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

/* images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
/*
	border: .5em solid white;
	border-width: .5em 0 .8em 1.4em;
*/
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
/*
	margin: .3em .5em .5em 0;
	border: .5em solid white;
	border-width: .5em 1.4em .8em 0;
*/
}
div.floatleft p { font-style: italic; }
/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
div.townBox {
	position: relative;
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: .3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.townBox dl {
	padding: 0;
	margin: 0 0 .3em;
	font-size: 96%;
}
div.townBox dl dt {
	background: none;
	margin: .4em 0 0;
}
div.townBox dl dd {
	margin: .1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/*
** keep the whitespace in front of the ^=, hides rule from konqueror
** this is css3, the validator doesn't like it when validating as css2
*/
#bodyContent a.external,
#bodyContent a[href ^="gopher://"] {
	/*background: url(external.png) center right no-repeat;*/
	padding-right: 13px;
}
#bodyContent a[href ^="https://"],
.link-https {
/*	background: url(lock_icon.gif) center right no-repeat;*/
	padding-right: 16px;
}
#bodyContent a[href ^="mailto:"],
.link-mailto {
/*	background: url(mail_icon.gif) center right no-repeat;*/
	padding-right: 18px;
}
#bodyContent a[href ^="news://"] {
/*	background: url(news_icon.png) center right no-repeat;*/
	padding-right: 18px;
}
#bodyContent a[href ^="ftp://"],
.link-ftp {
/*	background: url(file_icon.gif) center right no-repeat;*/
	padding-right: 18px;
}
#bodyContent a[href ^="irc://"],
#bodyContent a.extiw[href ^="irc://"],
.link-irc {
/*	background: url(discussionitem_icon.gif) center right no-repeat;*/
	padding-right: 18px;
}
#bodyContent a.external[href $=".ogg"], #bodyContent a.external[href $=".OGG"],
#bodyContent a.external[href $=".mid"], #bodyContent a.external[href $=".MID"],
#bodyContent a.external[href $=".midi"], #bodyContent a.external[href $=".MIDI"],
#bodyContent a.external[href $=".mp3"], #bodyContent a.external[href $=".MP3"],
#bodyContent a.external[href $=".wav"], #bodyContent a.external[href $=".WAV"],
#bodyContent a.external[href $=".wma"], #bodyContent a.external[href $=".WMA"],
.link-audio {
/*	background: url("audio.png") center right no-repeat;*/
	padding-right: 13px;
}
#bodyContent a.external[href $=".ogm"], #bodyContent a.external[href $=".OGM"],
#bodyContent a.external[href $=".avi"], #bodyContent a.external[href $=".AVI"],
#bodyContent a.external[href $=".mpeg"], #bodyContent a.external[href $=".MPEG"],
#bodyContent a.external[href $=".mpg"], #bodyContent a.external[href $=".MPG"],
.link-video {
/*	background: url("video.png") center right no-repeat;*/
	padding-right: 13px;
}
#bodyContent a.external[href $=".pdf"], #bodyContent a.external[href $=".PDF"],
#bodyContent a.external[href *=".pdf#"], #bodyContent a.external[href *=".PDF#"],
#bodyContent a.external[href *=".pdf?"], #bodyContent a.external[href *=".PDF?"],
.link-document {
/*	background: url("document.png") center right no-repeat;*/
	padding-right: 12px;
}

/* disable interwiki styling */
#bodyContent a.extiw,
#bodyContent a.extiw:active {
	color: #36b;
	background: none;
	padding: 0;
}
#bodyContent a.external {
	color: #36b;
}
/* this can be used in the content area to switch off
special external link styling */
#bodyContent .plainlinks a {
	background: none !important;
	padding: 0 !important;
}
/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/
.portlet {
	border: none;
	margin: 0 0 .5em;
	padding: 0;
	float: none;
	width: 11.6em;
	overflow: hidden;
}
.portlet h4 {
	font-size: 95%;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h5 {
	background: transparent;
	padding: 0 1em 0 .5em;
	display: inline;
	height: 1em;
	text-transform: lowercase;
	font-size: 91%;
	font-weight: normal;
	white-space: nowrap;
}
.portlet h6 {
	background: #ffae2e;
	border: 1px solid #2f6fab;
	border-style: solid solid none solid;
	padding: 0 1em 0 1em;
	text-transform: lowercase;
	display: block;
	font-size: 1em;
	height: 1.2em;
	font-weight: normal;
	white-space: nowrap;
}
.pBody {
	font-size: 95%;
	background-color: white;
	color: black;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0 .8em .3em .5em;
}
.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4 {
	margin: 0;
	padding: 0;
}
.portlet ul {
	line-height: 1.5em;
	list-style-type: square;
/*	list-style-image: url(/bullet.gif);*/
	font-size: 95%;
}
.portlet li {
	padding: 0;
	margin: 0;
}

/*
** Logo properties
*/

#p-logo {
	top: 0;
	left: 0;
	position: absolute; /*needed to use z-index */
	z-index: 3;
	height: 155px;
	width: 12em;
	overflow: visible;
}
#p-logo h5 {
	display: none;
}
#p-logo a,
#p-logo a:hover {
	display: block;
	height: 155px;
	width: 12.2em;
	background-repeat: no-repeat;
	background-position: 35% 50% !important;
	text-decoration: none;
}

/*
** Search portlet
*/
#p-search {
	position: relative;
	z-index: 3;
}
input.searchButton {
	margin-top: 1px;
	font-size: 95%;
}
#searchGoButton {
	padding-left: .5em;
	padding-right: .5em;
	font-weight: bold;
}
#searchInput {
	width: 10.9em;
	margin: 0;
	font-size: 95%;
}
#p-search .pBody {
	padding: .5em .4em .4em .4em;
	text-align: center;
}

/*
** the personal toolbar
*/
#p-personal {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
#p-personal {
	width: 100%;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	overflow: visible;
	line-height: 1.2em;
}
#p-personal h5 {
	display: none;
}
#p-personal .portlet,
#p-personal .pBody {
	z-index: 0;
	padding: 0;
	margin: 0;
	border: none;
	overflow: visible;
	background: none;
}
/* this is the ul contained in the portlet */
#p-personal ul {
	border: none;
	line-height: 1.4em;
	color: #2f6fab;
	padding: 0 2em 0 3em;
	margin: 0;
	text-align: right;
	list-style: none;
	z-index: 0;
	background: none;
	cursor: default;
}
#p-personal li {
	z-index: 0;
	border: none;
	padding: 0;
	display: inline;
	color: #2f6fab;
	margin-left: 1em;
	line-height: 1.2em;
	background: none;
}
#p-personal li a {
	text-decoration: none;
	color: #005896;
	padding-bottom: .2em;
	background: none;
}
#p-personal li a:hover {
	background-color: white;
	padding-bottom: .2em;
	text-decoration: none;
}
#p-personal li.active a:hover {
	background-color: transparent;
}
/* the icon in front of the user name, single quotes
in bg url to hide it from iemac */
li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
/*	background: url(user.gif) top left no-repeat;*/
	padding-left: 20px;
	text-transform: none;
}
#p-personal ul {
	text-transform: lowercase;
}
#p-personal li.active {
	font-weight: bold;
}
/*
** the page-related actions- page/talk, edit etc
*/
#p-cactions {
	position: absolute;
	top: 1.3em;
	left: 11.5em;
	margin: 0;
	white-space: nowrap;
	width: 76%;
	line-height: 1.1em;
	overflow: visible;
	background: none;
	border-collapse: collapse;
	padding-left: 1em;
	list-style: none;
	font-size: 95%;
}
#p-cactions ul {
	list-style: none;
}
#p-cactions li {
	display: inline;
	border: 1px solid #aaa;
	border-bottom: none;
	padding: 0 0 .1em 0;
	margin: 0 .3em 0 0;
	overflow: visible;
	background: white;
}
#p-cactions li.selected {
	border-color: #fabd23;
	padding: 0 0 .2em 0;
	font-weight: bold;
}
#p-cactions li a {
	background-color: #fbfbfb;
	color: #002bb8;
	border: none;
	padding: 0 .8em .3em;
	position: relative;
	z-index: 0;
	margin: 0;
	text-decoration: none;
}
#p-cactions li.selected a {
	z-index: 3;
	padding: 0 1em .2em!important;
	background-color: white;
}
#p-cactions .new a {
	color: #ba0000;
}
#p-cactions li a:hover {
	z-index: 3;
	text-decoration: none;
	background-color: white;
}
#p-cactions h5 {
	display: none;
}
#p-cactions li.istalk {
	margin-right: 0;
}
#p-cactions li.istalk a {
	padding-right: .5em;
}
#p-cactions #ca-addsection a {
	padding-left: .4em;
	padding-right: .4em;
}
/* offsets to distinguish the tab groups */
li#ca-talk {
	margin-right: 1.6em;
}
li#ca-watch, li#ca-unwatch, li#ca-varlang-0, li#ca-print {
	margin-left: 1.6em;
}
#p-cactions .pBody {
	font-size: 1em;
	background-color: transparent;
	color: inherit;
	border-collapse: inherit;
	border: 0;
	padding: 0;
}
#p-cactions .hiddenStructure {
	display: none;
}
#p-cactions li a {
	text-transform: lowercase;
}

/*
** the remaining portlets
*/
#p-tbx,
#p-lang {
	position: relative;
	z-index: 3;
}

/* TODO: #t-iscite is only used by the Cite extension, come up with some
 * system which allows extensions to add to this file on the fly
 */
#t-ispermalink, #t-iscite {
	color: #999;
}
/*
** footer
*/
#footer {
	background-color: white;
	border-top: 1px solid #fabd23;
	border-bottom: 1px solid #fabd23;
	margin: .6em 0 1em 0;
	padding: .4em 0 1.2em 0;
	text-align: center;
	font-size: 90%;
}
#footer li {
	display: inline;
	margin: 0 1.3em;
}
#f-poweredbyico, #f-copyrightico {
	margin: 0 8px;
	position: relative;
	top: -2px; /* Bump it up just a tad */
}
#f-poweredbyico {
	float: right;
	height: 1%;
}
#f-copyrightico {
	float: left;
	height: 1%;
}

/* js pref toc */
#preftoc {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#preftoc li {
	background-color: #f0f0f0;
	color: #000;
}
#preftoc li {
	margin: 1px -2px 1px 2px;
	float: left;
	padding: 2px 0 3px 0;
	border: 1px solid #fff;
	border-right-color: #716f64;
	border-bottom: 0;
	position: relative;
	white-space: nowrap;
	list-style-type: none;
	list-style-image: none;
	z-index: 3;
}
#preftoc li.selected {
	font-weight: bold;
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	border-bottom: none;
	cursor: default;
	top: 1px;
	padding-top: 2px;
	margin-right: -3px;
}
#preftoc > li.selected {
	top: 2px;
}
#preftoc a,
#preftoc a:active {
	display: block;
	color: #000;
	padding: 0 .7em;
	position: relative;
	text-decoration: none;
}
#preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}
#prefcontrol {
	padding-top: 2em;
	clear: both;
}
#preferences {
	margin: 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em;
	background-color: #F9F9F9;
}
.prefsection {
	border: none;
	padding: 0;
	margin: 0;
}
.prefsection fieldset {
	border: 1px solid #aaa;
	float: left;
	margin-right: 2em;
}
.prefsection legend {
	font-weight: bold;   
}
.prefsection table, .prefsection legend {
	background-color: #F9F9F9;
}
.mainLegend {
	display: none;
}
div.prefsectiontip {
	font-size: x-small;
	padding: .2em 2em;
	color: #666;
}
.btnSavePrefs {
	font-weight: bold;
	padding-left: .3em;
	padding-right: .3em;
}

.preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}

.prefcache {
	font-size: 90%;
	margin-top: 2em;
}

div#userloginForm form,
div#userlogin form#userlogin2 {
	margin: 0 3em 1em 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em 2em;
	background-color: #f9f9f9;
	float: left;
}
.rtl div#userloginForm form,
.rtl div#userlogin form#userlogin2 {
	float: right;
}

div#userloginForm table,
div#userlogin form#userlogin2 table {
	background-color: #f9f9f9;
}

div#userloginForm h2,
div#userlogin form#userlogin2 h2 {
	padding-top: 0;
}

div#userlogin .captcha,
div#userloginForm .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	background-color: white;
}

#loginend, #signupend {
	clear: both;
}

#userloginprompt, #languagelinks {
	font-size: 85%;
}

#login-sectiontip {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

#userlogin .loginText, #userlogin .loginPassword {
	width: 12em;
}

#userloginlink a, #wpLoginattempt, #wpCreateaccount {
	font-weight: bold;
}

/*
** IE/Mac fixes, hope to find a validating way to move this
** to a separate stylesheet. This would work but doesn't validate:
** @import("IEMacFixes.css");
*/
/* tabs: border on the a, not the div */
* > html #p-cactions li { border: none; }
* > html #p-cactions li a {
	border: 1px solid #aaa;
	border-bottom: none;
}
* > html #p-cactions li.selected a { border-color: #fabd23; }
/* footer icons need a fixed width */
* > html #f-poweredbyico,
* > html #f-copyrightico { width: 88px; }
* > html #bodyContent,
* > html #bodyContent pre {
	overflow-x: auto;
	width: 100%;
	padding-bottom: 25px;
}

/* more IE fixes */
/* float/negative margin brokenness */
* html #footer {margin-top: 0;}
* html #column-content {
	display: inline;
	margin-bottom: 0;
}
* html div.editsection { font-size: smaller; }
#pagehistory li.selected { position: relative; }

/* Mac IE 5.0 fix; floated content turns invisible */
* > html #column-content {
	float: none;
}
* > html #column-one {
	position: absolute;
	left: 0;
	top: 0;
}
* > html #footer {
	margin-left: 13.2em;
}
.redirectText {
	font-size: 150%;
	margin: 5px;
}

.printfooter {
	display: none;
}

.not-patrolled {
	background-color: #ffa;
}
div.patrollink {
	clear: both;
	font-size: 75%;
	text-align: right;
}
span.newpage, span.minor, span.bot {
	font-weight: bold;
}
span.unpatrolled {
	font-weight: bold;
	color: red;
}

.sharedUploadNotice {
	font-style: italic;
}

span.updatedmarker {
	color: black;
	background-color: #0f0;
}

table.gallery {
	border: 1px solid #ccc;
	margin: 2px;
	padding: 2px;
	background-color: white;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #f9f9f9;
	border: solid 2px white;
}
/* Keep this temporarily so that cached pages will display right */
table.gallery td.galleryheader {
    text-align: center;
	font-weight: bold;
}
table.gallery caption {
	font-weight: bold;
}

div.gallerybox {
	margin: 2px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #ccc;
	margin: 2px;
}

div.gallerytext {
	overflow: hidden;
	font-size: 94%;
	padding: 2px 4px;
}

span.comment {
	font-style: italic;
}

span.changedby {
	font-size: 95%;
}

.previewnote {
	text-indent: 3em;
	color: #c00;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.previewnote p {
	margin: 0;
	padding: 0;
}

.editExternally {
	border: 1px solid gray;
	background-color: #ffffff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}
.editExternallyHelp {
	font-style: italic;
	color: gray;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* Classes for EXIF data display */
table.mw_metadata {
	font-size: 0.8em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 300px;
}

table.mw_metadata caption {
	font-weight: bold;
}

table.mw_metadata th {
	font-weight: normal;
}

table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata {
	border: none;
	border-collapse: collapse;
}

table.mw_metadata td, table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaaaaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.mw_metadata td {
	background-color: #fcfcfc;
}

table.collapsed tr.collapsable {
	display: none;
}


/* filetoc */
ul#filetoc {
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
}

#filetoc li {
	display: inline;
	list-style-type: none;
	padding-right: 2em;
}

input#wpSummary {
	width: 80%;
}

/* @bug 1714 */
input#wpSave, input#wpDiff {
	margin-right: 0.33em;
}

#editform .editOptions {
	display: inline;
}

#wpSave {
	font-weight: bold;
}

/* Classes for article validation */

table.revisionform_default {
	border: 1px solid #000000;
}

table.revisionform_focus {
	border: 1px solid #000000;
	background-color:#00BBFF;
}

tr.revision_tr_default {
	background-color:#EEEEEE;
}

tr.revision_tr_first {
	background-color:#DDDDDD;
}

p.revision_saved {
	color: green;
	font-weight:bold;
}

#mw_trackbacks {
	border: solid 1px #bbbbff;
	background-color: #eeeeff;
	padding: 0.2em;
}


/* Allmessages table */

#allmessagestable th {
	background-color: #b2b2ff;
}

#allmessagestable tr.orig {
	background-color: #ffe2e2;
}

#allmessagestable tr.new {
	background-color: #e2ffe2;
}

#allmessagestable tr.def {
	background-color: #f0f0ff;
}


/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

div#searchTargetContainer {
	left:       10px;
	top:        10px;
	width:      90%;
	background: white;
}

div#searchTarget {
	padding:    3px;
	margin:     5px;
	background: #F0F0F0;
	border:     solid 1px blue;
}

div#searchTarget ul li {
	list-style: none;
}

div#searchTarget ul li:before {
	color: orange;
	content: "\00BB \0020";
}

div#searchTargetHide {
	float:right;
	border:solid 1px black;
	background:#DCDCDC;
	padding:2px;
}

div.multipageimagenavbox {
   border: solid 1px silver;
   padding: 4px;
   margin: 1em;
   background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
   border: none;
   margin-left: 2em;
   margin-right: 2em;
}

div.multipageimagenavbox hr {
   margin: 6px;
}

table.multipageimage td {
   text-align: center;
}

/** Special:Version */

table#sv-ext, table#sv-hooks, table#sv-software {
	margin: 1em;
	padding:0em;
}

#sv-ext td, #sv-hooks td, #sv-software td,
#sv-ext th, #sv-hooks th, #sv-software th {
	border: 1px solid #A0A0A0;
	padding: 0 0.15em 0 0.15em;
}
#sv-ext th, #sv-hooks th, #sv-software th {
	background-color: #F0F0F0;
	color: black;
	padding: 0 0.15em 0 0.15em;
}
tr.sv-space{
	height: 0.8em;
	border:none;
}
tr.sv-space td { display: none; }

/*
  Table pager (e.g. Special:Imagelist)
  - remove underlines from the navigation link
  - collapse borders
  - set the borders to outsets (similar to Special:Allmessages)
  - remove line wrapping for all td and th, set background color
  - restore line wrapping for the last two table cells (description and size)
*/
.TablePager_nav a { text-decoration: none; }
.TablePager { border-collapse: collapse; }
.TablePager, .TablePager td, .TablePager th { 
	border: 1px solid #aaaaaa;
	padding: 0 0.15em 0 0.15em;
}
.TablePager th { background-color: #eeeeff }
.TablePager td { background-color: #ffffff }
.TablePager tr:hover td { background-color: #eeeeff }

.imagelist td, .imagelist th { white-space: nowrap }
.imagelist .TablePager_col_links { background-color: #eeeeff }
.imagelist .TablePager_col_img_description { white-space: normal }
.imagelist th.TablePager_sort { background-color: #ccccff }

.templatesUsed { margin-top: 1.5em; }

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Friendlier slave lag warnings */
div.mw-lag-warn-normal,
div.mw-lag-warn-high {
	padding: 3px;
	text-align: center;
	margin: 3px auto;
}
div.mw-lag-warn-normal {
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
}
div.mw-lag-warn-high {
	font-weight: bold;
	border: 2px solid #FF0033;
	background-color: #FFCCCC;
}

/* Recreating-deleted-page/reupload file warning and log entries */
div#mw-upload-deleted-warn,
div#mw-recreate-deleted-warn {
	padding: 3px;
	margin-bottom: 3px;
	border: 2px solid #2F6FAB;
}
div#mw-upload-deleted-warn ul li,
div#mw-recreate-deleted-warn ul li {
	font-size: 90%;
}
.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}
.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}

/** Special:Search stuff */
div#mw-search-interwiki-caption {
	text-align: center;
	font-weight: bold;
	font-size: 95%;
}

.mw-search-interwiki-project {
	font-size: 97%;
	text-align: left;
	padding-left: 0.2em;
	padding-right: 0.15em;
	padding-bottom: 0.2em;
	padding-top: 0.15em;
	background: #cae8ff;
}

span.searchmatch {
	font-weight: bold;
	color: red;
}

/* God-damned hack for the crappy layout */
.os-suggest {
	font-size: 127%;
}

 /*-----------------------------------------------------------------------------------------*/
 /* ACHTUNG! Common.css enthält die gemeinsamen Skin-Anpassungen der deutschsprachigen Wikipedia */
 /*-----------------------------------------------------------------------------------------*/
 
 /* Common.css ist in drei grundlegende Abschnitte gegliedert: */
 
 /* 1. Editierbare Seiteninhalte */
 /* 2. Sonstige Anpassungen (Spezialseiten, u.a.) */
 /* 3. Hauptseitenspezifisches */
 
 /* Jede Ergänzung/Änderung muss vorher jeweils für alle Skins auf Tauglichkeit getestet werden, */
 /* individuell per User.css! Ist hier erstmal geändert, dauert es dank Cache eine Weile, bis die */
 /* Änderungen bei allen Nutzern sichtbar oder, bei Fehlern, korrigiert sind. */


 /* +++++ 1. ANPASSUNGEN DER ANZEIGE VON EDITIERBAREN SEITENINHALTEN +++++ */

 /* Personennamen in Kapitälchen: class="Person" */
 
 .Person {
    display: inline;
    font-variant: small-caps;
    font-style: normal;
 }

 /* [[Wikipedia:Zitate|Zitate]] (siehe [[Vorlage:Zitat]]) */
 
 p.Zitat {
    font-style: normal;
    margin-bottom: 0em;
 }
 p.cite {
    margin-top: 0em;
    padding-left: 1em;
 }

 /* [[Wikipedia:Quellenangaben|Quellenangaben]] nicht kursiv, da sie ggf. verschiedene Bestandteile enthalten */
 
 cite {
    font-style: normal;
 }

 /* Stylesheet-Ergänzung zu Standard-[[Wikipedia:Navigationsleisten|Navigationsleisten]] */
 
 div.BoxenVerschmelzen,
 div.NavFrame {
    margin: 0px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    text-align: center;
    border-collapse: collapse;
    font-size: 95%;
        clear:both;
 }
 div.BoxenVerschmelzen div.NavFrame {
    border-style: none;
    border-style: hidden;
 }
 div.NavFrame + div.NavFrame {
    border-top-style: none;
    border-top-style: hidden;
 }
 div.NavPic {
    background-color: #ffffff;
    margin: 0px;
    padding: 2px;
    float: left;
 }
 div.NavFrame div.NavHead {
    height: 1.6em;
    font-weight: bold;
    font-size: 100%;
    background-color: #efefef;
 }
 div.NavFrame p {
    font-size: 100%;
 }
 div.NavFrame div.NavContent {
    font-size: 100%;
 }
 div.NavFrame div.NavContent p {
    font-size: 100%;
 }
 div.NavEnd {
    margin: 0px;
    padding: 0px;
    line-height: 1px;
    clear: both;
 }

/* Stylesheet fuer den 'Ausklappen'-Button an Navileisten, der in [[MediaWiki:Common.js]] implementiert wird */
.NavToggle {
       font-size: x-small;
       float:right;
}

 /* Abstand vor Navigationsleisten */
 
 div.BoxenVerschmelzen,
 div.NavFrame {
   margin-top: 1.5em;
 }
 div.BoxenVerschmelzen div.NavFrame {
   margin-top: 0;
 }
 div.NavFrame + div.NavFrame {
   margin-top: 0;
 }

 /* Navigationsleisten nicht mit ausdrucken */
 
 @media print{
    .NavFrame {
        display: none;
    }
    .BoxenVerschmelzen {
        display: none;
    }
 }

 /* Stylesheet-Ergänzung zu SideBoxen (ehedem [[Wikipedia:TownBox|TownBox]]) */
 
 div.sideBox {
    position: relative;
    float: right;
    background: white;
    margin-left: 1em;
    border: 1px solid gray;
    padding: 0.3em;
    width: 200px;
    overflow: hidden;
    clear: right;
 }
 div.sideBox dl {
    padding: 0;
    margin: 0 0 0.3em 0;
    font-size: 96%;
 }
 div.sideBox dl dt {
    background: none;
    margin: 0.4em 0 0 0;
 }
 div.sideBox dl dd {
    margin: 0.1em 0 0 1.1em;
    background-color: #f3f3f3;
 }

 /* Stylesheet-Ergänzung zu [[Wikipedia:Taxoboxen|Taxoboxen]] */
 
 table.taxobox {
        border-collapse: collapse;
        border: 1px solid gray;
        float: right;
        clear: right;
        margin-left: 0.5em;
        background-color:white;
 }
 table.taxobox th {
        background-color: #9BCD9B;
        border: solid 1px gray;
        text-align: center;
        font-weight: bold;
 }
 table.taxobox td {
        vertical-align:top;
 }
 table.taxobox .Person {
        font-style: normal;
 }
 table.taxobox div.thumb,
 table.taxobox div.thumb * {
        margin: auto;
        padding: 0;
        float: none;
        border: none;
        background-color:#F9F9F9;
 }
 table.taxobox div.magnify {
        display: none;
 }
 table.taxobox tr td div.thumb div div.thumbcaption {
        text-align:center;
 }
 table.taxobox td.Person {
        text-align:center;
        display:block;
 }
 table.taxobox td.taxo-name {
        text-align:center;
 }
 table.taxobox td.taxo-bild {
        text-align:center;
 }

 /* Stylesheet-Ergänzung zu [[Wikipedia:Paläoboxen|Paläoboxen]] */
 
 table.palaeobox {
       border-collapse: collapse;
       border: 1px solid gray;
       float: right;
       clear: right;
       margin-left: 0.5em;
       background-color:white;
 }
 table.palaeobox th {
       background-color: #e7dcc3;
       border: solid 1px gray;
       text-align: center;
       font-weight: bold;
 }
 table.palaeobox td {
       vertical-align:top;
 }
 table.palaeobox .Person {
       font-style: normal;
 }
 table.palaeobox div.thumb,
 table.palaeobox div.thumb * {
       margin: 0;
       padding: 0;
       float: none;
       border: none;
 }
 table.palaeobox div.magnify {
       display:none;
 }
 table.palaeobox tr td div.thumb div div.thumbcaption {
       text-align:left;
 }
 table.palaeobox td.Person {
       text-align:center;
       display:block;
 }
 table.palaeobox td.taxo-name {
       text-align:center;
 }
 table.palaeobox td.taxo-bild {
       text-align:center;
 }
 table.palaeobox td.taxo-zeit {
       text-align:center;
 }
 table.palaeobox td.taxo-ort {
       text-align:left;
 }

 /* aus Vorlage zur Entlastung, skinabhängigen Darstellung und Kombinierbarkeit hierher ausgelagert */
 .wikitable,
 .prettytable {
  margin: 1em 1em 1em 0;
  background: #f9f9f9;
  border: 1px #AAA solid;
  border-collapse: collapse;
  empty-cells:show;
 }

 .wikitable th, .wikitable td,
 .prettytable th, .prettytable td {
  border: 1px #AAA solid;
  padding: 0.3em;
 }

 .wikitable caption,
 .prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
  font-weight: bold;
 }
 
 .nogrid th, .nogrid td {border: none;}
 .float-left { float: left; clear: left; }
 .float-right { float: right; clear: right; margin: 1em 0 1em 1em; }
 .centered { margin-left: auto; margin-right: auto; }

 /* Bitte KEINE weiteren Definitionen dieser Art für Boxen hier, das gehört in entsprechende Vorlagen! */
 /* Hier 20 Mal Trivialitäten wie "text-align:center" zu definieren verlangsamt alles und ist nicht */
 /* Sinn der Sache. (Und wer nicht weiß warum, hat's nicht verstanden.) */


 /* Do not expand [[Wikipedia:WikiProjekt Georeferenzierung|kvaleberg.com-URLs]] for printing */
 
 #content span.coordinates a.external.text:after, #content span.coordinates a.external.autonumber:after { content: ""; }
 #content div.coordinates a.external.text:after, #content div.coordinates a.external.autonumber:after { content: ""; }
 
 /* Do not expand URLs for printing */
 
 #content span.plainlinks-print a.external.text:after, #content span.plainlinks-print a.external.autonumber:after { content: ""; }
 #content div.plainlinks-print a.external.text:after, #content div.plainlinks-print a.external.autonumber:after { content: ""; }
 
 /* Metadaten (bspw. [[Wikipedia:Personendaten|Personendaten]]) */
 
 table.metadata {
    border: 1px solid #aaaaaa;
    display: none;
 }
 .metadata-label {
    color: #aaaaaa;
 }

 /*
  * Farbdefinitionen für Rahmen und Hintergründe von [[Wikipedia:Textbausteine|Textbausteinen]].
  * Hier: Standardvorgaben für "dunkle Schrift auf hellem Grund".
  * Für Hell-auf-dunkel-Skins ([[MediaWiki:Amethyst.css|Amethyst]]) müssen dort entsprechende Definitionen
  * zusätzlich eingetragen werden! Anpassungen für andere Skins sind optional.
  * (Die Angaben der Rahmenstärke dienen der Bequemlichkeit, so dass man
  * für dünne Rahmen nur noch "border-style" angeben muss.)
  */
 
 .rahmenfarbe1 { /* Wie Inhaltsverzeichnis */
    border-color: #aaaaaa;
    border-width: 1px;
 }
 .rahmenfarbe2 { /* Unauffällig, geringer Kontrast */
    border-color: #e9e9e9;
    border-width: 1px;
 }
 .rahmenfarbe3 { /* "Rot", auffällig */
    border-color: #c00000;
    border-width: 1px;
 }
 .rahmenfarbe4 { /* Neutrale Farbe, deutlich */
    border-color: #8888aa;
    border-width: 1px;
 }
 .rahmenfarbe5 { /* "Schwarz", hoher Kontrast */
    border-color: #000000;
    border-width: 1px;
 }
 
 .hintergrundfarbe1 { /* Wie Inhaltsverzeichnis */
    background-color: #f9f9f9;
 }
 .hintergrundfarbe2 { /* "Weiß", für Nicht-Artikel-Seiten, neutral */
    background-color: #ffffff;
 }
 .hintergrundfarbe3 { /* "Gelb", auffällig */
    background-color: #ffff40;
 }
 .hintergrundfarbe4 { /* Sehr auffällig */
    background-color: #ffaa00;
 }
 .hintergrundfarbe5 { /* Neutral, abgesetzt */
    background-color: #e0e0e0;
 }
 .hintergrundfarbe6 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
    background-color: #b3b7ff;
 }
 .hintergrundfarbe7 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
    background-color: #ffcbcb;
 }
 .hintergrundfarbe8 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
    background-color: #ffebad;
 }
 .hintergrundfarbe9 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
    background-color: #b9ffc5;
 }

 /* Keine Vergrößerung der Zeilenhöhe durch hochgestellte Zahlen der Fußnoten */
 
 .reference, .references sup {
     font-size: 91%;
     vertical-align: text-top;
     position: relative;
     top: -0.3em;
 }

 /* Hervorhebung der angeklickten Fußnoten und der Rückverweise in blau */
 
 ol.references > li:target {
     background-color: #DEF;
 }
 
 sup.reference:target { 
     background-color: #DEF;
 }

 /* Für <hiero></hiero> */

 .mw-hierotable { border: 0px; padding: 0px; }
 .mw-hierotable th, .mw-hierotable td { border: 0px; padding: 0px; }

 /* Für [[MediaWiki:Anoneditwarning]] */

 #mw-anon-edit-warning {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}

 /* +++++ 2. SONSTIGE ANPASSUNGEN (Spezialseiten u. a.) +++++ */

 /* Markierung von Redirects in [[Special:Allpages]], [[Special:Watchlist]], Kategorien */
 
 .allpagesredirect {
        font-style: italic;
 }
 
 .watchlistredir {
        font-style: italic;
 }
 
 .redirect-in-category {
        font-style: italic;
 }
 
 /* Einmal gelesene Bestandteile (z.B. in der Sitenotice) ausblenden, sobald css geladen ist */
 
 #gelesen {
        display:none;
 }

 /* Größerer Abstand zwischen TOC-Nummerierung und TOC-Eintrag */
 span.tocnumber {margin-right:0.3em;}

 /* Skinabhängige absolute Positionierungen ausblenden */
 /* Bitte [[MediaWiki Diskussion:Common.css#Absolute_Positionierungen]] beachten */
 
 #coordinates_3_ObenRechts, #issnlink, #editcount, #shortcut, #artikelstadium {
    display: none;
 }

  /* CommonsTicker styles */
 
  .tickerList ul,    .tickerList ul li    { list-style: none; text-indent:-2em; margin-left:2em;   text-align:left; }
  .tickerList ul ul, .tickerList ul ul li { list-style: none; text-indent:0;    margin-left:1.5em; text-align:left; }
 
  .tickerAction_deleted:before     { content:" WEG "; color: #FF0000; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_restored:before    { content:" RST "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_replaced:before    { content:" ERS "; color: #CC88FF; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedTag:before    { content:" +LA "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedTag:before  { content:" -LA "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedBad:before    { content:" +LA "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedBad:before  { content:" -LA "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedGood:before   { content:" +OK "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedGood:before { content:" -OK "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
 
  .tickerUsage  { font-size:80%; }  /* ticker usage list */
  .tickerTemplateEntry    { font-weight: bold; } /* entry applies to a template used by multiple images */
 
  /* per-status styles  */  
  .tickerStatus_done:before {content:" Fixed "; color: #00AA00; font-family:monospace; font-weight:bold; font-size:90%; text-decoration: none;}
  .tickerStatus_done { text-decoration:line-through; font-size: small; } 
 
  /* strike through when entry has been handeled (done) */
  /*.tickerStatus_done .tickerAction_deleted:before  { content:" "; text-decoration: none;}*/ 
  .tickerStatus_done .tickerAction_deleted:before  { text-decoration: none; }
 
  /* local reupload */  
  .tickerStatus_local {text-decoration:line-through; font-size: small; } 
  .tickerStatus_local .tickerAction_deleted:before  {content:" "; text-decoration: none;}
  .tickerStatus_local:before { content:" re-uploaded locally "; color: #00AA00; font-family:monospace; font-weight:bold; font-size:90%; text-decoration: none;}
 
  /* in process of fixing */
  .tickerStatus_fixing .tickerAction_deleted:before  {content:" "; text-decoration: none;}
  .tickerStatus_fixing:before {content:"fixing"; color: #FF8800; font-family:monospace; font-weight:bold; font-size:90%;}
 
  /* Won'tfix */
  .tickerStatus_wontfix .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_wontfix {text-decoration: line-through;}
  .tickerStatus_wontfix:before {content:"Will not fix"; color: #CC0000; font-family:monospace; font-weight:bold; font-size:90%;text-decoration:none;}  
 
  /* similiar */
  .tickerStatus_similiar .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_similiar {text-decoration: line-through;}
  .tickerStatus_similiar:before {content:"REPL Article;no fix"; color: #FF4400; font-family:monospace; font-weight:bold; font-size:90%;text-decoration:none;}
 
  /* NA */
  .tickerStatus_NA .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_NA:before {content:"No NEG"; color: #00FF20;} 
  ul span.tickerStatus_NA + ul span.tickerUsage {display:none;}
  span.tickerStatus_NA  span.tickerUsage {display:none;}
  /*Needed so that both subentrys and non-subentrys both are invisivble */

 /* Anpassungen für [[:Template:Link_FA]] */
 
 /* hide the template */
 #bodyContent span.FA {
     display: none; 
 }
 
 /* change the bullets for links to special articles */
 #p-lang li.FA {
     /* hier immer auch linkFA_bullet in Common.js mit anpassen für die älteren skins! */
     /*list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d0/Monobook-bullet-star-transparent.png");*/
 }
 
 /* without this, special bullets go too far to the left */
 /*
 .portlet li {
  list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/1/18/Monobook-bullet.png");
 }
 */

 /* DIVs in ImageMaps inlinen (Vorschlag von Revolus) */
 .imagemap-inline div {
       display: inline;
 }

 /* [[Special:Hochladen]]: Warnmeldung auf bestehende Dateien, unerwünschte Prefixe usw. deutlicher hervorheben. */

 #wpDestFile-warning ul {
       border:solid red 1px;
       padding: 1.5em;
 }

 /* Tabellenhintergründe transparent machen */
 /* Vor allem auf Spezialseiten, da diese eine andere Hintergrundfarbe haben. */
 /* Update 21. März 2008: Wurde mit [[rev:32269]] und [[rev:32270]] zentralisiert. */

 table.searchResultImage, table#mw-sitematrix-table, table.mw-specialpages-table,
 table.mw-listgrouprights-table, table.diff
  {
       background-color: transparent; 
  }
 
 /* (+/-) in Sichtungsbox nicht mit ausdrucken */
 @media print {
       #mw-revisiontoggle { display:none; }
 }

 /* +++++ 3. NEUE [[Hauptseite|HAUPTSEITE]] (ab 2006) +++++ */
 
 /* Kategorie verbergen */
 body.page-Hauptseite #catlinks {
  display:none;
 }

 #hauptseite h2 {
       background-color: #d8e8ff;
       border: 1px solid #8898bf;
       font-size: 1em;
       font-weight: bold;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 0.1em;
       padding-bottom: 0.1em;
 }
 #hauptseite .inhalt {
       background-color: #ffffff;
       border: 1px solid #8898bf;
       border-top: 0px solid white;
       padding: 0.3em 0.8em 0.4em 0.8em;
 }
 #hauptseite .inhalt hr {
       background-color: #8898bf;
       color: #8898bf;
       height: 1px;
       margin:0.5em 0;
       padding: 0;
 }
 #hauptseite .inhalt .mehr {
       clear: both;
       font-size: 95%;
       margin-top: 0.8em;
       text-align: right;
 }
 .hauptseite-oben,
 .hauptseite-links,
 .hauptseite-rechts {
       margin-bottom: 1em;
 }
 .hauptseite-links {
       margin-right: 0.5em;
 }
 .hauptseite-rechts {
       margin-left: 0.5em;
 }
 .hauptseite-oben h2,
 .hauptseite-unten h2 {
       text-align: center;
 }
 .hauptseite-oben .inhalt .portale {
       font-weight: bold;
       margin-top: 0.2em;
       margin-bottom: 0.2em;
 }
 .hauptseite-oben .inhalt .intern {
       font-size: 90%;
       text-align: center;
 }
 .hauptseite-links h2,
 .hauptseite-rechts h2 {
       text-indent: 0.8em;
 }
 #hauptseite-schwesterprojekte .inhalt a {
       font-weight: bold;
 }

 /* p.catlinks span a[href*="/wiki/Kategorie:Arbeitskategorie"] { display:none } wegen HIDDENCAT nicht mehr notwendig */ 

 /* Remove underline from IPA links */
 .IPA a:link, .IPA a:visited {
    text-decoration: none;
 }

 span.Unicode
 {
  font-family:
  'Code2000',
  'Sun-ExtA',
  'Arial Unicode MS',
  'NSimSun',
  sans-serif;
 }

 span.Unicode1
 {
  font-family:
  'Code2001',
  'Quivira',
  'MPH 2B Damase',
  sans-serif;
 }

 span.Unicode2
 {
  font-family:
  'Sun-ExtB',
  'Code2002',
  sans-serif;
 }

 span.IPA
 {
  font-family:
   'Quivira',
   'Code2000',
   'Sun-ExtA',
   'DejaVu Sans',
   'Gentium',
   'Arial Unicode MS',
   'Lucida Sans Unicode',
   sans-serif;
 }

 span.IAST
 {
  font-family:
   'Code2000',
   'SunExtA',
   'Arial Unicode MS',
  sans-serif;
 }

 span.altitalisch
 {
  font-family:
   'Quivira',
   'Code2001',
   'MPH 2B Damase',
   sans-serif;
 }


 span.gotisch
 {
  font-family:
   'Quivira',
   'Code2001',
   'MPH 2B Damase',
   sans-serif;
 }

 span.hebrew
 {
  font-family:
  'Quivira',
  'Sun-ExtA',
  'Arial Unicode MS',
  'SBL Hebrew',
  'Code2000',
  'MPH 2B Damase',
  sans-serif;
 }

 span.spanAr
 {
  font-family:
  'Arial Unicode MS',
  'Code2000',
  'MPH 2B Damase',
  'DejaVu Sans',
  sans-serif;
 }


 span.music-symbol
 {
  font-family:
  'Musical Symbols',
  'Euterpe',
  'Code2001',
  sans-serif;
 }

 /* Standardmäßige Ausblendung der Flagged-Revisions-Backlog-Sitenotice */
 #mw-oldreviewed-notice {
  display: none;
 }

/* Default skin for navigation boxes */
table.navbox {            /* Navbox container style */
  border: 1px solid #aaa;
  width: 100%; 
  margin: auto;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
}
table.navbox + table.navbox {  /* Single pixel border between adjacent navboxes */
  margin-top: -1px;            /* (doesn't work for IE6, but that's okay)       */
}
.navbox-title,
.navbox-abovebelow,
table.navbox th {
  text-align: center;      /* Title and above/below styles */
  padding-left: 1em;
  padding-right: 1em;
}
.navbox-group {            /* Group style */
  white-space: nowrap;
  text-align: right;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}
.navbox, .navbox-subgroup {
  background: #fdfdfd;     /* Background color */
}
.navbox-list {
  border-color: #fdfdfd;   /* Must match background color */
}
.navbox-title,
table.navbox th {
  background: #ccccff;     /* Level 1 color */
}
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
  background: #ddddff;     /* Level 2 color */
}
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
  background: #e6e6ff;     /* Level 3 color */
}
.navbox-even {
  background: #f7f7f7;     /* Even row striping */
}
.navbox-odd {
  background: transparent; /* Odd row striping */
}

.collapseButton {          /* 'show'/'hide' buttons created dynamically */
    float: right;          /* by the CollapsibleTables javascript in    */
    font-weight: normal;   /* [[MediaWiki:Common.js]]are styled here    */
    text-align: right;     /* so they can be customised.                */
    width: auto;
}
.navbox .collapseButton {  /* In navboxes, the show/hide button balances */
    width: 6em;            /* the vde links from [[Template:Tnavbar]],   */
}                          /* so they need to be the same width.         */




/* Infobox template style */
.infobox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
}
.infobox td,
.infobox th {
    vertical-align: top;
}
.infobox caption {
    font-size: larger;
}
.infobox.bordered {
    border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
    border: 1px solid #aaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
    border: 0;
}

.infobox.sisterproject {
    width: 20em;
    font-size: 90%;
}

.infobox.standard-talk {
    border: 1px solid #c0c090;
    background-color: #f8eaba;
}
.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
    border: 1px solid #c0c090;
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
    border: 0;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
    border: 0;
    border-right: 1px solid #aaa;
}

/* Styles for geography infoboxes, eg countries,
   country subdivisions, cities, etc.            */
.infobox.geography {
    text-align: left;
    border-collapse: collapse;
    line-height: 1.2em; 
    font-size: 90%;
}

.infobox.geography  td,
.infobox.geography  th {
    border-top: solid 1px #aaa;
    padding: 0.4em 0.6em 0.4em 0.6em;
}
.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
    border-top: solid 1px #aaa;
    padding: 0.4em 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
    border: 0;
    padding: 0 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
    border-top: 0;
    border-bottom: solid 1px #aaa;
    padding: 0 0.6em 0.4em 0.6em;
}

.infobox.geography .maptable td,
.infobox.geography .maptable th {
    border: 0;
    padding: 0;
}

