[Desktop Entry]
Name=kiwix
Comment=kiwix for Ubuntu Touch
Exec=webapp-container $@ ./www/index.html
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Icon=./www/img/icons/kiwix-256.png
Name[en_US]=kiwix.desktop
