# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.sublime-project
*.sublime-workspace

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
nbproject/private

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

www-built
www-ghdeploy
/node_modules/*
!/node_modules/@fortawesome
/node_modules/@fortawesome/*
!/node_modules/@fortawesome/fontawesome-free
/node_modules/@fortawesome/fontawesome-free/*
!/node_modules/@fortawesome/fontawesome-free/js
/node_modules/@fortawesome/fontawesome-free/js/*
!/node_modules/@fortawesome/fontawesome-free/js/all.js
!/node_modules/bootstrap
/node_modules/bootstrap/*
!/node_modules/bootstrap/dist
/node_modules/bootstrap/dist/*
!/node_modules/bootstrap/dist/css
/node_modules/bootstrap/dist/css/*
!/node_modules/bootstrap/dist/css/bootstrap.min.*
!/node_modules/bootstrap/dist/js
/node_modules/bootstrap/dist/js/*
!/node_modules/bootstrap/dist/js/bootstrap.bundle.min.*
!/node_modules/jquery
/node_modules/jquery/*
!/node_modules/jquery/dist
/node_modules/jquery/dist/*
!/node_modules/jquery/dist/jquery.slim.min.*
/tmp/
/scripts/kiwix-*.pem
/scripts/set_secret_environment_variables.sh
/build/
/scripts/travisci_builder_id_key
/scripts/ssh_key
/scripts/secret_files.tar.gz
/reports/

#Visual Studio
/.vs/
/.vscode/
scripts/github_token
.prettierrc
