# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.sublime-project
*.sublime-workspace

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
nbproject/private

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

www-built
www-ghdeploy
/node_modules/
/tmp/
/scripts/kiwix-*.pem
/scripts/set_secret_environment_variables.sh
/build/
/scripts/travisci_builder_id_key
/scripts/secret_files.tar.gz
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/kiwix-html5/v15/.suo
/.vs/kiwix-html5/v15
/.vs/config/applicationhost.config
/.vs/config
