{
  "all": false,
  "include": [
    "www/js/lib/**/*.js",
    "tests/unit/js/**/*.js"
  ],
  "exclude": [
    "node_modules/**",
    "coverage/**",
    "dist/**",
    "tests/e2e/**",
    "tests/unit/spec/**/*.test.js"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "check-coverage": true,
  "branches": 70,
  "lines": 70,
  "functions": 70,
  "statements": 70,
  "cache": true,
  "esModules": true,
  "sourceMap": true,
  "instrument": true,
  "require": [
    "@babel/register"
  ],
  "extends": "@istanbuljs/nyc-config-babel"
}
