<?xml version='1.0' encoding='utf-8'?>
<widget id="info.evopedia.html5" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Evopedia</name>
    <description>
        Offline Wikipedia viewer.
    </description>
    <author email="dev@evopedia.info" href="http://evopedia.info">
        Evopedia Developers
    </author>
    <content src="main.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
